---
import Layout from "../layouts/Layout.astro";
/* Aqui se importa los componentes si es que usan */
---

<Layout title="Integrantes">
  <!-- Dentro de este Layout va su html -->
  <h1>Integrantes</h1>
</Layout>

<style>
  /* Aqui va el css */
</style>

<script>
  /* Aqui va el javascript, si no les funciona prueben usando <script:isinline> */
</script>
