<!DOCTYPE html>
<html lang="es">
  <head>
    <script>
        setTimeout(function () {
        window.location.href = "https://arjmath.vercel.app/";
      }, 2000);
    </script>
  </head>
  <body>
    <h1>游녦 Hola, La direcci칩n de esta p치gina ha cambiado</h1>
    <p>
      La direcci칩n de esta p치gina ha cambiado. En caso de no ser dirigido autom치ticamente presiona el bot칩n de abajo
    </p>
    <a href="https://arjmath.vercel.app/">Ir al nuevo sitio</a>
  </body>
</html>

<style>
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #10372a;
    overflow: hidden;
    flex-direction: column;
  }

  h1 {
    color: aliceblue;
  }
  p {
    font-size: 20px;
    color: white;
    padding: 25px;
    text-wrap: pretty;
  }

  a {
    width: 10em;
    height: 2em;
    border-radius: 6px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    padding: 9px 20px 8px;
    text-align: center;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #413a3a;
    background-color: #54bb80;
  }

  a:hover,
  a:focus {
    opacity: 0.75;
    box-shadow: 0px 145px 58px rgba(27, 233, 137, 0.01),
      0px 82px 49px rgba(27, 233, 147, 0.05),
      0px 36px 36px rgba(27, 233, 96, 0.09),
      0px 9px 20px rgba(27, 233, 182, 0.1), 0px 0px 0px rgba(27, 233, 154, 0.1);
  }
</style>
