---
import Folio from "../layouts/Folio.astro";
---

<Folio title="Jose Angel Arjona Matheis">
  <section class="hero">
    <div class="hero-content container">
      <h1>Hola 👋 soy <span>Nombre</span></h1>
      <div class="text-animate">
        <h3>Desarrollador de Software</h3>
      </div>
      <div class="btn-box">
        <!-- Descargar CV -->
        <a href="#contact" class="btn btn-transparent">Contacto</a>
      </div>
    </div>
  </section>
</Folio>

<style>
  .text-animate {
    font-size: 4rem;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
</style>
