---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Proyectos">
  <div>
    <div class="card">
      <img
        class="cardImg"
        src="https://phx02pap002files.storage.live.com/y4mjCuSoDICUagL1hWYLfcFl9KKor_iqh-F9R2XBkBOMpJeZIyFzkpL6Jesfj2RShyW9SdTCUknfY790RtT0XZ3IjKMsWjc6AjrPVqCrSRbZ-DxUSGRxOup7oz3l6L98ymp75evxkeraixQM6Sapfd4-7mWp1lH3rdOd937OjPMxGMFnFaIubb31nU1BWtDPLqi?width=960&height=720&cropmode=none"
        alt="Mexic0de"
      />
      <div class="card-content">
        <h2>Conoce Nuestros Proyectos!</h2>
        <p>
          Desliza para ver más <i class="bx bx-down-arrow-alt bx-fade-down"></i>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="cardImg"
        src="https://phx02pap002files.storage.live.com/y4mr61C7FG37u-v10hxod7SP01aZ-YJNM9eugip4SGgEBRFCaf2kL78K5aoAjxf_YuWJTX3vHYyHIG9qugUl0fwMKzJ93lM39MEg5IprbhZiKzb0hHt3FHsMGXW67Zv1GqVgIdbU1WWijI5GSAmYP_GSTu3MpFF423ean57vVGovEQZv3-cP4y7_Lt5QkNXIej3?width=1400&height=1050&cropmode=none"
        alt="Mexic0de"
      />
      <div class="card-content">
        <h2>MEXIC0DE-TUTO</h2>
        <p>
          Blog oficial de MEXIC0DE. Desarrollado con Astro, es un blog con
          articulos de tecnologia y tutoriales en lenguajes de programación.
        </p>
        <div class="btnContainer">
          <a
            href="https://github.com/MexicodeInc2023/Mexic0deBlog.git"
            class="github-button"
            target="_blank"
          >
            Repositorio de GitHub
          </a>
          <a
            href="https://blog.mexic0de.page/"
            class="other-button"
            target="_blank"
          >
            BLog Web MEXIC0DE-TUTO
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        class="cardImg"
        src="https://phx02pap002files.storage.live.com/y4mocD9BS-qHMd-T4NZwnxT9pkJ45hOUO5dnJ87c41cpe9VaD4FIBxZPXZMSNN4uyPLc0ff-E670qXzDZwPh27xA11q2MabvmBfG31ctKC0aoBuQiI4q6lO7hPSWpCVWggvrWtq7aQ41TsSWC8QEHD-GJyuBigYMhGljbQmPyFSD-10-4FFl5ohdtKEp1vxQr83?width=960&height=720&cropmode=none"
        alt="Mexic0de-Search"
      />
      <div class="card-content">
        <h2>MEXIC0DE-SEARCH</h2>
        <p>
          Pagina de buscador personalizada. Desarrollado con Svelte, es un sitio
          que emula el sitio google.com y añade marcadores personalizables.
        </p>
        <div class="btnContainer">
          <a
            href="https://github.com/MexicodeInc2023/Mexic0deSearch"
            class="github-button"
            target="_blank"
          >
            Repositorio de GitHub
          </a>
          <a
            href="https://mexcde-search.netlify.app/"
            class="other-button"
            target="_blank"
          >
            Pagina Web MEXIC0DE-SEARCH
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        class="cardImg"
        src="https://phx02pap002files.storage.live.com/y4mEopybeAXZZINyATZFR2MKbM4sJ830NRvRw5MqO18qowWZgqK5RHUf47iuixBztBIkLmAV4KOg1x2mUUERxgRXVRlc18NVDtbmnKHc2sPNxTzyvsboV7X9m9FiZKrpTqSxbjfrhTF2XNxxGr14ZA2v3C4GNZ3G06jQRDJrzZUkBbi3S-6pTrGyuiWjceoQdis?width=960&height=720&cropmode=none"
        alt="Policard"
      />
      <div class="card-content">
        <h2>POLICARD</h2>
        <p class="center">
          Applicación Web para UPTAP. Desarrollado con Svelte, es una aplicación
          web que hace uso de una API-REST desarrollada con DJANGO; <br>el objetivo
          es crear un sistema de credencialización para la Universidad
        </p>
        <div class="btnContainer">
          <p style="color:#6e7075">No es posible mostrar el codigo.</p>
          <!-- <a
            href="https://github.com/MexicodeInc2023/Mexic0deBlog.git"
            class="github-button"
            target="_blank"
          >
            GitHub
          </a>
          <a
            href="https://blog.mexic0de.page/"
            class="other-button"
            target="_blank"
          >
            Pagina Web
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  h2 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .header {
    width: 100%;
    height: 550px;
    background: url("./assets/mountain.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #fff;
  }

  .card {
    width: 100vw;
    height: 100vh;
    background: rgb(20, 50, 100, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }

  .card img {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) blur(2px);
  }

  .card-content {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.5);
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
  }

  .github-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 33px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.3s ease;
  }

  .github-button:hover {
    background-color: #fff;
    color: #000;
  }

  .other-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 33px;
    border: 1px solid #56f09f;
    background-color: #56f09f;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.3s ease;
  }

  .other-button:hover {
    background-color: transparent;
    color: #fff;
  }

  /* Responsive  */
  @media (max-width: 1024px) {
    .card-content {
      padding: 0 20px;
    }
    .card-content h2 {
      font-size: 4rem;
    }
  }
  @media (max-width: 768px) {
    .card-content {
      padding: 0 20px;
    }

    .card-content h2 {
      text-align: center;
      font-size: 4rem;
    }

    .card-content p {
      text-align: center;
      font-size: 1.5rem;
    }

    .btnContainer {
      flex-direction: column;
      gap: 10px;
    }
  }
</style>
