<layout>
    <div class="section">
      <h1 class="section-text">Trabajando con las mejores Tecnologías</h1>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</layout>
<style>
      .section {
    width: 1250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://dsm01pap009files.storage.live.com/y4mKExtJdSRpCS7OedTgHl0XXBwTYMum1DDyVjY-_4X3uUcFZyQO4TPVhkQ2_QGQbn3f7VFfErH1I77YvB1bkU8wESPNhXhBoupKGZgf2YuO_GyqANrDqTpQbzKKQn4QsQouaKL74r2uSUuoobtn-QsLRnsWoZ0MWRu4C6gXdrh74tlHCTsKrVZCXqDxUG43sKB?width=1920&height=1080&cropmode=none);
    background-size: cover; 
  }
  .section-text {
    color: white;
    font-size: 3rem;
    text-shadow: 0px 0px 10px #000000;
  }
</style>