---
export interface Props {
  pic: string;
  name: string;
  role: string;
  numJobs: string;
  address: string;
}

const { pic, name, role, numJobs, address } = Astro.props;
---

<div class="card">
  <div class="infos">
    <div class="image"></div>
    <div class="info">
      <div>
        <p class="name">{name}</p>
        <p class="function">{role}</p>
      </div>
      <div class="stats">
        <p class="flex flex-col">Proyectos:</p>
        <p class="flex">
          <span class="state-value"> {numJobs}</span>
        </p>
        <p class="flex">
          <span class="state-value mx">Miembro de MEXIC0DE</span>
        </p>
      </div>
    </div>
  </div>
  <button class="request" type="button"> {address}</button>
</div>

<style>
  .card {
    max-width: 520px;
    border-radius: 1rem;
    background-color: var(--green);
    padding: 2rem;
    margin: auto;
  }

  .card:hover {
    background-color: #133f2f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .image {
    height: 10rem;
    width: 10rem;
    border-radius: 0.5rem;
    background-color: rgb(118, 36, 194);
    background: linear-gradient(
      to bottom right,
      rgb(118, 36, 194),
      rgb(185, 128, 240)
    );
  }

  .info {
    height: 10rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    font-size: 2.3rem;
    line-height: 1.75rem;
    font-weight: 500;
    margin-top: 2px;
    margin-left: 3px;
    color: rgba(255, 255, 255, 1);
  }

  .function {
    font-size: 1.8rem;
    line-height: 1rem;
    margin-top: 9px;
    margin-left: 3px;
    color: rgba(156, 163, 175, 1);
  }

  .stats {
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1rem;
    color: rgba(0, 0, 0, 1);
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
  }

  .state-value {
    font-weight: 700;
    color: var(--green);
  }

  .request {
    margin-top: 1.5rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .request:hover {
    background-color: var(--primary);
  }

  .mx {
    color: var(--green);
    font-weight: 600;
    font-family: var(--mexFont);
  }

  /* Moviles  */
  @media (max-width: 425px) {
    .stats {
      padding: 1.3rem;
      font-size: 1.3rem;
      line-height: 1rem;
      width: 75vw;
      margin-top: 10px;
    }
    .card {
      padding: 1rem;
    }

    .infos {
      flex-direction: column;
      align-items: center;
    }

    .image {
      height: 8rem;
      width: 8rem;
    }

    .info {
      height: 8rem;
      align-items: center;
    }

    .name {
      font-size: 1.8rem;
      line-height: 1.75rem;
    }

    .function {
      font-size: 1.5rem;
      line-height: 1rem;
    }

    .request {
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
    .mx {
      font-size: 1.2rem;
    }
  }
</style>
