<footer>
    <div class="foot-txt">
        <p>Copyright &copy; 2023 by MEXIC0DE | Sitio Oficial MEXIC0DE.</p>
    </div>
    <div class="foot-icon">
        <a href="#home"><i class='bx bxs-caret-up-circle'></i></a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: #000;
        color: #fff;
        padding: 2rem 9%;
    }

 /*    footer .foot-txt {
        width: 70%;
    }
 */
    footer .foot-txt p {
        font-size: 1.5rem;
    }

   /*  footer .foot-icon {
        width: 30%;
        text-align: right;
    } */

    footer .foot-icon a {
        color: #fff;
        font-size: 2.8rem;
    }

    footer .foot-icon a:hover {
        color: var(--primary);
    }
</style>