---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="MEXIC0DE" />
    <meta
      name="description"
      content="MEXIC0DE es el sitio oficial de MEXICODE un grupo de desarrolladores mexicanos de software, enfocados en soluciones web"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mexic0de.page/"/>
    <meta property="og:title" content="MEXIC0DE" />
    <meta
      property="og:description"
      content="MEXIC0DE es el sitio oficial de MEXICODE un grupo de desarrolladores mexicanos de software, enfocados en soluciones web"
    />
    <meta
      property="og:image"
      content="https://phx02pap002files.storage.live.com/y4mjCuSoDICUagL1hWYLfcFl9KKor_iqh-F9R2XBkBOMpJeZIyFzkpL6Jesfj2RShyW9SdTCUknfY790RtT0XZ3IjKMsWjc6AjrPVqCrSRbZ-DxUSGRxOup7oz3l6L98ymp75evxkeraixQM6Sapfd4-7mWp1lH3rdOd937OjPMxGMFnFaIubb31nU1BWtDPLqi?width=960&height=720&cropmode=none"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mexic0de.page/" />
    <meta property="twitter:title" content="MEXIC0DE" />
    <meta
      property="twitter:description"
      content="MEXIC0DE es el sitio oficial de MEXICODE un grupo de desarrolladores mexicanos de software, enfocados en soluciones web"
    />
    <meta
      property="twitter:image"
      content="https://phx02pap002files.storage.live.com/y4mjCuSoDICUagL1hWYLfcFl9KKor_iqh-F9R2XBkBOMpJeZIyFzkpL6Jesfj2RShyW9SdTCUknfY790RtT0XZ3IjKMsWjc6AjrPVqCrSRbZ-DxUSGRxOup7oz3l6L98ymp75evxkeraixQM6Sapfd4-7mWp1lH3rdOd937OjPMxGMFnFaIubb31nU1BWtDPLqi?width=960&height=720&cropmode=none"
    />
    <title>{title}</title>
  </head>
  <body>
    <div id="loader">
      <div class="loader">
        <div class="cell d-0"></div>
        <div class="cell d-1"></div>
        <div class="cell d-2"></div>

        <div class="cell d-1"></div>
        <div class="cell d-2"></div>

        <div class="cell d-2"></div>
        <div class="cell d-3"></div>

        <div class="cell d-3"></div>
        <div class="cell d-4"></div>
      </div>
    </div>
    <div id="content">
      <Navbar />
      <h2>Conoce a nuestro equipo!</h2>
      <slot />
    </div>
  </body>
</html>

<style>
  h2 {
    text-align: center;
    margin-bottom: 9rem;
    padding: 2rem;
    font-size: 5rem;
    color: var(--light);
  }

  #content {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: var(--green);
  }
</style>
